In [2]:
import sys
sys.path.append('/Users/lluisarull/Desktop/DSDM/Computing_for_Data_Science/Homework_6/Hw6/Library_Hw6/src')

In [4]:
#Importing our library
from EinesDeJardinerClasses.Loader_class import * 
from EinesDeJardinerClasses.model_class import *
from EinesDeJardinerClasses.NaNfiller_class import *
from EinesDeJardinerClasses.NaNremover_class import *
from EinesDeJardinerClasses.transformer_class import *

In [5]:
#Importing other libraries
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

In [6]:
#Loading the data

path="/Users/lluisarull/Desktop/DSDM/Computing_for_Data_Science/Homework_5/sample_diabetes_mellitus_data - sample_diabetes_mellitus_data.csv"
target='diabetes_mellitus'

df = pd.read_csv(path)
df.head()

,Unnamed: 0,encounter_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,hospital_admit_source,...,ventilated_apache,wbc_apache,aids,cirrhosis,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus
0,0,214826,118,68.0,22.732803,0,Caucasian,M,180.3,Floor,...,0,14.1,0,0,0,0,0,0,0,1
1,1,246060,81,77.0,27.421875,0,Caucasian,F,160.0,Floor,...,1,12.7,0,0,0,0,0,0,0,1
2,2,276985,118,25.0,31.952749,0,Caucasian,F,172.7,Emergency Department,...,0,NaN,0,0,0,0,0,0,0,0
3,3,262220,118,81.0,22.635548,1,Caucasian,F,165.1,Operating Room,...,1,8.0,0,0,0,0,0,0,0,0
4,4,201746,33,19.0,NaN,0,Caucasian,M,188.0,NaN,...,0,NaN,0,0,0,0,0,0,0,0

In [7]:
# Obtaining the TRAIN dataframe

loader_object = Loader(path,target)
df_train, df_test = loader_object.df_train_test()
df_train

,Unnamed: 0,encounter_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,hospital_admit_source,...,ventilated_apache,wbc_apache,aids,cirrhosis,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus
7389,7389,219196,118,53.0,23.954957,1,Caucasian,M,181.60,Operating Room,...,1,12.1,0,0,0,0,0,0,0,0
9275,9275,258004,89,25.0,21.927343,0,Caucasian,M,188.00,Emergency Department,...,1,33.9,0,0,0,0,0,0,0,0
2995,2995,175936,118,80.0,28.291796,1,Caucasian,F,162.60,Operating Room,...,0,8.2,0,0,0,0,0,0,0,1
5316,5316,189534,118,86.0,26.835938,0,Caucasian,F,160.00,Emergency Department,...,1,11.0,0,0,0,0,0,0,0,0
356,356,227780,118,NaN,24.093414,1,Caucasian,F,162.60,Operating Room,...,0,6.3,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9225,9225,262542,89,64.0,43.348537,0,Caucasian,F,160.02,Floor,...,1,17.9,0,0,0,0,0,0,0,0
4859,4859,170287,149,46.0,29.736306,1,Caucasian,M,188.00,Operating Room,...,1,17.8,0,0,0,0,0,0,0,1
3264,3264,154841,118,47.0,21.681700,0,Caucasian,F,165.10,Emergency Department,...,0,NaN,0,0,0,0,0,0,0,0
9845,9845,187070,89,89.0,27.790351,0,Caucasian,M,175.30,Emergency Department,...,0,7.1,0,0,0,0,0,0,0,0
2732,2732,224940,83,72.0,37.317324,1,Caucasian,M,172.70,Operating Room,...,0,12.8,0,0,0,0,0,0,0,0

In [8]:
# Obtaining the TEST dataframe
df_test

,Unnamed: 0,encounter_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,hospital_admit_source,...,ventilated_apache,wbc_apache,aids,cirrhosis,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus
9394,9394,234323,89,25.0,30.637114,0,Native American,F,167.64,Direct Admit,...,1,16.2,0,0,0,0,0,0,0,0
898,898,212953,118,71.0,39.836581,0,African American,M,167.60,Floor,...,1,15.7,0,0,0,0,0,0,0,1
2398,2398,261269,83,63.0,21.679688,1,Caucasian,F,160.00,Operating Room,...,0,NaN,0,0,0,0,0,0,0,0
5906,5906,193351,83,61.0,NaN,0,Caucasian,M,180.30,Floor,...,0,NaN,0,0,0,0,0,0,0,0
2343,2343,156630,151,75.0,37.380170,0,Caucasian,M,167.60,Floor,...,0,15.6,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037,1037,211959,118,38.0,21.364098,1,Caucasian,F,142.20,Operating Room,...,1,13.1,0,0,0,0,0,0,0,0
2899,2899,270166,149,72.0,28.465438,0,Caucasian,F,154.90,NaN,...,0,4.9,0,0,0,0,0,0,0,0
9549,9549,268405,89,63.0,30.343786,1,Caucasian,F,170.20,Operating Room,...,0,16.4,0,0,0,0,0,0,0,0
2740,2740,223551,33,67.0,27.800093,1,Caucasian,F,162.60,Operating Room,...,0,10.3,0,0,0,0,0,0,0,1
6690,6690,150335,118,80.0,NaN,0,Caucasian,M,165.10,Emergency Department,...,0,NaN,0,0,0,1,0,0,0,0

In [9]:
## Removing rows containing NaN values in the columns: age, gender, ethnicity.
columns_to_clear = ["gender", "age", "ethnicity"]

# In the Train dataframe
df_train_cleared = NanRemover.Nan_Remover(df_train,columns_to_clear)
df_train_cleared

,Unnamed: 0,encounter_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,hospital_admit_source,...,ventilated_apache,wbc_apache,aids,cirrhosis,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus
7389,7389,219196,118,53.0,23.954957,1,Caucasian,M,181.60,Operating Room,...,1,12.1,0,0,0,0,0,0,0,0
9275,9275,258004,89,25.0,21.927343,0,Caucasian,M,188.00,Emergency Department,...,1,33.9,0,0,0,0,0,0,0,0
2995,2995,175936,118,80.0,28.291796,1,Caucasian,F,162.60,Operating Room,...,0,8.2,0,0,0,0,0,0,0,1
5316,5316,189534,118,86.0,26.835938,0,Caucasian,F,160.00,Emergency Department,...,1,11.0,0,0,0,0,0,0,0,0
49,49,195469,69,67.0,28.690874,0,Caucasian,M,177.80,Emergency Department,...,1,6.6,0,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9225,9225,262542,89,64.0,43.348537,0,Caucasian,F,160.02,Floor,...,1,17.9,0,0,0,0,0,0,0,0
4859,4859,170287,149,46.0,29.736306,1,Caucasian,M,188.00,Operating Room,...,1,17.8,0,0,0,0,0,0,0,1
3264,3264,154841,118,47.0,21.681700,0,Caucasian,F,165.10,Emergency Department,...,0,NaN,0,0,0,0,0,0,0,0
9845,9845,187070,89,89.0,27.790351,0,Caucasian,M,175.30,Emergency Department,...,0,7.1,0,0,0,0,0,0,0,0
2732,2732,224940,83,72.0,37.317324,1,Caucasian,M,172.70,Operating Room,...,0,12.8,0,0,0,0,0,0,0,0

In [10]:
#In the Test dataframe
df_test_cleared = NanRemover.Nan_Remover(df_test,columns_to_clear)
df_test_cleared

,Unnamed: 0,encounter_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,hospital_admit_source,...,ventilated_apache,wbc_apache,aids,cirrhosis,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus
9394,9394,234323,89,25.0,30.637114,0,Native American,F,167.64,Direct Admit,...,1,16.2,0,0,0,0,0,0,0,0
898,898,212953,118,71.0,39.836581,0,African American,M,167.60,Floor,...,1,15.7,0,0,0,0,0,0,0,1
2398,2398,261269,83,63.0,21.679688,1,Caucasian,F,160.00,Operating Room,...,0,NaN,0,0,0,0,0,0,0,0
5906,5906,193351,83,61.0,NaN,0,Caucasian,M,180.30,Floor,...,0,NaN,0,0,0,0,0,0,0,0
2343,2343,156630,151,75.0,37.380170,0,Caucasian,M,167.60,Floor,...,0,15.6,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037,1037,211959,118,38.0,21.364098,1,Caucasian,F,142.20,Operating Room,...,1,13.1,0,0,0,0,0,0,0,0
2899,2899,270166,149,72.0,28.465438,0,Caucasian,F,154.90,NaN,...,0,4.9,0,0,0,0,0,0,0,0
9549,9549,268405,89,63.0,30.343786,1,Caucasian,F,170.20,Operating Room,...,0,16.4,0,0,0,0,0,0,0,0
2740,2740,223551,33,67.0,27.800093,1,Caucasian,F,162.60,Operating Room,...,0,10.3,0,0,0,0,0,0,0,1
6690,6690,150335,118,80.0,NaN,0,Caucasian,M,165.10,Emergency Department,...,0,NaN,0,0,0,1,0,0,0,0

In [11]:
## Filling NaN with the mean value of the column in the columns: height, weight.
columns_to_fill = ["height", "weight"]

# In the Train dataframe
df_train_filled = NanFiller.Nan_Filler(df_train_cleared,columns_to_fill)
df_train_filled

/Users/lluisarull/Desktop/DSDM/Computing_for_Data_Science/Homework_6/Hw6/Library_Hw6/src/EinesDeJardinerClasses/NaNfiller_class.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].fillna(mean)

,Unnamed: 0,encounter_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,hospital_admit_source,...,ventilated_apache,wbc_apache,aids,cirrhosis,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus
7389,7389,219196,118,53.0,23.954957,1,Caucasian,M,181.60,Operating Room,...,1,12.1,0,0,0,0,0,0,0,0
9275,9275,258004,89,25.0,21.927343,0,Caucasian,M,188.00,Emergency Department,...,1,33.9,0,0,0,0,0,0,0,0
2995,2995,175936,118,80.0,28.291796,1,Caucasian,F,162.60,Operating Room,...,0,8.2,0,0,0,0,0,0,0,1
5316,5316,189534,118,86.0,26.835938,0,Caucasian,F,160.00,Emergency Department,...,1,11.0,0,0,0,0,0,0,0,0
49,49,195469,69,67.0,28.690874,0,Caucasian,M,177.80,Emergency Department,...,1,6.6,0,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9225,9225,262542,89,64.0,43.348537,0,Caucasian,F,160.02,Floor,...,1,17.9,0,0,0,0,0,0,0,0
4859,4859,170287,149,46.0,29.736306,1,Caucasian,M,188.00,Operating Room,...,1,17.8,0,0,0,0,0,0,0,1
3264,3264,154841,118,47.0,21.681700,0,Caucasian,F,165.10,Emergency Department,...,0,NaN,0,0,0,0,0,0,0,0
9845,9845,187070,89,89.0,27.790351,0,Caucasian,M,175.30,Emergency Department,...,0,7.1,0,0,0,0,0,0,0,0
2732,2732,224940,83,72.0,37.317324,1,Caucasian,M,172.70,Operating Room,...,0,12.8,0,0,0,0,0,0,0,0

In [12]:
# In the Train dataframe
df_test_filled = NanFiller.Nan_Filler(df_test_cleared,columns_to_fill)
df_train_filled

/Users/lluisarull/Desktop/DSDM/Computing_for_Data_Science/Homework_6/Hw6/Library_Hw6/src/EinesDeJardinerClasses/NaNfiller_class.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].fillna(mean)

,Unnamed: 0,encounter_id,hospital_id,age,bmi,elective_surgery,ethnicity,gender,height,hospital_admit_source,...,ventilated_apache,wbc_apache,aids,cirrhosis,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus
7389,7389,219196,118,53.0,23.954957,1,Caucasian,M,181.60,Operating Room,...,1,12.1,0,0,0,0,0,0,0,0
9275,9275,258004,89,25.0,21.927343,0,Caucasian,M,188.00,Emergency Department,...,1,33.9,0,0,0,0,0,0,0,0
2995,2995,175936,118,80.0,28.291796,1,Caucasian,F,162.60,Operating Room,...,0,8.2,0,0,0,0,0,0,0,1
5316,5316,189534,118,86.0,26.835938,0,Caucasian,F,160.00,Emergency Department,...,1,11.0,0,0,0,0,0,0,0,0
49,49,195469,69,67.0,28.690874,0,Caucasian,M,177.80,Emergency Department,...,1,6.6,0,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9225,9225,262542,89,64.0,43.348537,0,Caucasian,F,160.02,Floor,...,1,17.9,0,0,0,0,0,0,0,0
4859,4859,170287,149,46.0,29.736306,1,Caucasian,M,188.00,Operating Room,...,1,17.8,0,0,0,0,0,0,0,1
3264,3264,154841,118,47.0,21.681700,0,Caucasian,F,165.10,Emergency Department,...,0,NaN,0,0,0,0,0,0,0,0
9845,9845,187070,89,89.0,27.790351,0,Caucasian,M,175.30,Emergency Department,...,0,7.1,0,0,0,0,0,0,0,0
2732,2732,224940,83,72.0,37.317324,1,Caucasian,M,172.70,Operating Room,...,0,12.8,0,0,0,0,0,0,0,0

In [19]:
### Column transformation
from abc import ABCMeta, abstractmethod
from datetime import date

## FIRST TRANSFORMATION: Transforming age column to birth year
# In the Train dataframe

age_transform = age_to_birth_year()
age_transform.transform_df(df_train_filled, 'age')
df_train_transformed1 = age_transform.transform_df(df_train_filled, 'age')
df_train_transformed1.rename(columns={'age':'birth year'}, inplace=True)
df_train_transformed1

,Unnamed: 0,encounter_id,hospital_id,birth year,bmi,elective_surgery,ethnicity,gender,height,hospital_admit_source,...,ventilated_apache,wbc_apache,aids,cirrhosis,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus
7389,7389,219196,118,1969.0,23.954957,1,Caucasian,M,181.60,Operating Room,...,1,12.1,0,0,0,0,0,0,0,0
9275,9275,258004,89,1997.0,21.927343,0,Caucasian,M,188.00,Emergency Department,...,1,33.9,0,0,0,0,0,0,0,0
2995,2995,175936,118,1942.0,28.291796,1,Caucasian,F,162.60,Operating Room,...,0,8.2,0,0,0,0,0,0,0,1
5316,5316,189534,118,1936.0,26.835938,0,Caucasian,F,160.00,Emergency Department,...,1,11.0,0,0,0,0,0,0,0,0
49,49,195469,69,1955.0,28.690874,0,Caucasian,M,177.80,Emergency Department,...,1,6.6,0,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9225,9225,262542,89,1958.0,43.348537,0,Caucasian,F,160.02,Floor,...,1,17.9,0,0,0,0,0,0,0,0
4859,4859,170287,149,1976.0,29.736306,1,Caucasian,M,188.00,Operating Room,...,1,17.8,0,0,0,0,0,0,0,1
3264,3264,154841,118,1975.0,21.681700,0,Caucasian,F,165.10,Emergency Department,...,0,NaN,0,0,0,0,0,0,0,0
9845,9845,187070,89,1933.0,27.790351,0,Caucasian,M,175.30,Emergency Department,...,0,7.1,0,0,0,0,0,0,0,0
2732,2732,224940,83,1950.0,37.317324,1,Caucasian,M,172.70,Operating Room,...,0,12.8,0,0,0,0,0,0,0,0

In [20]:
# In the Test dataframe
age_transform.transform_df(df_test_filled, 'age')
df_test_transformed1 = age_transform.transform_df(df_test_filled, 'age')
df_test_transformed1.rename(columns={'age':'birth year'}, inplace=True)
df_test_transformed1

,Unnamed: 0,encounter_id,hospital_id,birth year,bmi,elective_surgery,ethnicity,gender,height,hospital_admit_source,...,ventilated_apache,wbc_apache,aids,cirrhosis,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus
9394,9394,234323,89,1997.0,30.637114,0,Native American,F,167.64,Direct Admit,...,1,16.2,0,0,0,0,0,0,0,0
898,898,212953,118,1951.0,39.836581,0,African American,M,167.60,Floor,...,1,15.7,0,0,0,0,0,0,0,1
2398,2398,261269,83,1959.0,21.679688,1,Caucasian,F,160.00,Operating Room,...,0,NaN,0,0,0,0,0,0,0,0
5906,5906,193351,83,1961.0,NaN,0,Caucasian,M,180.30,Floor,...,0,NaN,0,0,0,0,0,0,0,0
2343,2343,156630,151,1947.0,37.380170,0,Caucasian,M,167.60,Floor,...,0,15.6,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037,1037,211959,118,1984.0,21.364098,1,Caucasian,F,142.20,Operating Room,...,1,13.1,0,0,0,0,0,0,0,0
2899,2899,270166,149,1950.0,28.465438,0,Caucasian,F,154.90,NaN,...,0,4.9,0,0,0,0,0,0,0,0
9549,9549,268405,89,1959.0,30.343786,1,Caucasian,F,170.20,Operating Room,...,0,16.4,0,0,0,0,0,0,0,0
2740,2740,223551,33,1955.0,27.800093,1,Caucasian,F,162.60,Operating Room,...,0,10.3,0,0,0,0,0,0,0,1
6690,6690,150335,118,1942.0,NaN,0,Caucasian,M,165.10,Emergency Department,...,0,NaN,0,0,0,1,0,0,0,0

In [22]:
## SECOND TRANSFORMATION: Transforming height column from cm to inches
# In the Train dataframe
height_transform = heightcm_to_inches()
height_transform.transform_df(df_train_transformed1,'height')
df_train_transformed2 = height_transform.transform_df(df_train_transformed1,'height')
df_train_transformed2.rename(columns={'height':'height in inches'}, inplace=True)
df_train_transformed2

,Unnamed: 0,encounter_id,hospital_id,birth year,bmi,elective_surgery,ethnicity,gender,height in inches,hospital_admit_source,...,ventilated_apache,wbc_apache,aids,cirrhosis,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus
7389,7389,219196,118,1969.0,23.954957,1,Caucasian,M,71.55040,Operating Room,...,1,12.1,0,0,0,0,0,0,0,0
9275,9275,258004,89,1997.0,21.927343,0,Caucasian,M,74.07200,Emergency Department,...,1,33.9,0,0,0,0,0,0,0,0
2995,2995,175936,118,1942.0,28.291796,1,Caucasian,F,64.06440,Operating Room,...,0,8.2,0,0,0,0,0,0,0,1
5316,5316,189534,118,1936.0,26.835938,0,Caucasian,F,63.04000,Emergency Department,...,1,11.0,0,0,0,0,0,0,0,0
49,49,195469,69,1955.0,28.690874,0,Caucasian,M,70.05320,Emergency Department,...,1,6.6,0,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9225,9225,262542,89,1958.0,43.348537,0,Caucasian,F,63.04788,Floor,...,1,17.9,0,0,0,0,0,0,0,0
4859,4859,170287,149,1976.0,29.736306,1,Caucasian,M,74.07200,Operating Room,...,1,17.8,0,0,0,0,0,0,0,1
3264,3264,154841,118,1975.0,21.681700,0,Caucasian,F,65.04940,Emergency Department,...,0,NaN,0,0,0,0,0,0,0,0
9845,9845,187070,89,1933.0,27.790351,0,Caucasian,M,69.06820,Emergency Department,...,0,7.1,0,0,0,0,0,0,0,0
2732,2732,224940,83,1950.0,37.317324,1,Caucasian,M,68.04380,Operating Room,...,0,12.8,0,0,0,0,0,0,0,0

In [23]:
# In the Test dataframe
height_transform.transform_df(df_test_transformed1,'height')
df_test_transformed2 = height_transform.transform_df(df_test_transformed1,'height')
df_test_transformed2.rename(columns={'height':'height in inches'}, inplace=True)
df_test_transformed2

,Unnamed: 0,encounter_id,hospital_id,birth year,bmi,elective_surgery,ethnicity,gender,height in inches,hospital_admit_source,...,ventilated_apache,wbc_apache,aids,cirrhosis,hepatic_failure,immunosuppression,leukemia,lymphoma,solid_tumor_with_metastasis,diabetes_mellitus
9394,9394,234323,89,1997.0,30.637114,0,Native American,F,66.05016,Direct Admit,...,1,16.2,0,0,0,0,0,0,0,0
898,898,212953,118,1951.0,39.836581,0,African American,M,66.03440,Floor,...,1,15.7,0,0,0,0,0,0,0,1
2398,2398,261269,83,1959.0,21.679688,1,Caucasian,F,63.04000,Operating Room,...,0,NaN,0,0,0,0,0,0,0,0
5906,5906,193351,83,1961.0,NaN,0,Caucasian,M,71.03820,Floor,...,0,NaN,0,0,0,0,0,0,0,0
2343,2343,156630,151,1947.0,37.380170,0,Caucasian,M,66.03440,Floor,...,0,15.6,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1037,1037,211959,118,1984.0,21.364098,1,Caucasian,F,56.02680,Operating Room,...,1,13.1,0,0,0,0,0,0,0,0
2899,2899,270166,149,1950.0,28.465438,0,Caucasian,F,61.03060,NaN,...,0,4.9,0,0,0,0,0,0,0,0
9549,9549,268405,89,1959.0,30.343786,1,Caucasian,F,67.05880,Operating Room,...,0,16.4,0,0,0,0,0,0,0,0
2740,2740,223551,33,1955.0,27.800093,1,Caucasian,F,64.06440,Operating Room,...,0,10.3,0,0,0,0,0,0,0,1
6690,6690,150335,118,1942.0,NaN,0,Caucasian,M,65.04940,Emergency Department,...,0,NaN,0,0,0,1,0,0,0,0

In [36]:
df_train_transformed2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7504 entries, 7389 to 2732
Data columns (total 53 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   7504 non-null   int64
 1   encounter_id                 7504 non-null   int64
 2   hospital_id                  7504 non-null   int64
 3   birth year                   7504 non-null   float64
 4   bmi                          6214 non-null   float64
 5   elective_surgery             7504 non-null   int64
 6   ethnicity                    7504 non-null   object
 7   gender                       7504 non-null   object
 8   height in inches             7504 non-null   float64
 9   hospital_admit_source        6833 non-null   object
 10  icu_admit_source             7485 non-null   object
 11  icu_id                       7504 non-null   int64
 12  icu_stay_type                7504 non-null   object
 13  icu_type                     7504 non-null   object
 14  pre_icu_los_days             7504 non-null   float64
 15  readmission_status           7504 non-null   int64
 16  weight                       7504 non-null   float64
 17  albumin_apache               2650 non-null   float64
 18  apache_2_diagnosis           7360 non-null   float64
 19  apache_3j_diagnosis          7466 non-null   float64
 20  apache_post_operative        7504 non-null   int64
 21  arf_apache                   7504 non-null   int64
 22  bilirubin_apache             2549 non-null   float64
 23  bun_apache                   5606 non-null   float64
 24  creatinine_apache            5707 non-null   float64
 25  fio2_apache                  2238 non-null   float64
 26  gcs_eyes_apache              7453 non-null   float64
 27  gcs_motor_apache             7453 non-null   float64
 28  gcs_unable_apache            7455 non-null   float64
 29  gcs_verbal_apache            7453 non-null   float64
 30  glucose_apache               6692 non-null   float64
 31  heart_rate_apache            7503 non-null   float64
 32  hematocrit_apache            5995 non-null   float64
 33  intubated_apache             7504 non-null   int64
 34  map_apache                   7494 non-null   float64
 35  paco2_apache                 2238 non-null   float64
 36  paco2_for_ph_apache          2238 non-null   float64
 37  pao2_apache                  2238 non-null   float64
 38  ph_apache                    2238 non-null   float64
 39  resprate_apache              7480 non-null   float64
 40  sodium_apache                5648 non-null   float64
 41  temp_apache                  7434 non-null   float64
 42  urineoutput_apache           1104 non-null   float64
 43  ventilated_apache            7504 non-null   int64
 44  wbc_apache                   5856 non-null   float64
 45  aids                         7504 non-null   int64
 46  cirrhosis                    7504 non-null   int64
 47  hepatic_failure              7504 non-null   int64
 48  immunosuppression            7504 non-null   int64
 49  leukemia                     7504 non-null   int64
 50  lymphoma                     7504 non-null   int64
 51  solid_tumor_with_metastasis  7504 non-null   int64
 52  diabetes_mellitus            7504 non-null   int64
dtypes: float64(29), int64(18), object(6)
memory usage: 3.1+ MB

In [37]:
# Creating the model
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

X_columns = df_train_transformed2.drop(['Unnamed: 0','encounter_id','diabetes_mellitus'], axis=1)
y_columns = df_train_transformed2['diabetes_mellitus']
hyperpars = 

df_train_transformed2 = RandForModel(X_columns, y_columns, hyperpars)

NameError: name 'hyperpars' is not defined